$color-font: #EEFFAB;
$color-bg-default: #EEFFAB;
$font-default: Arial, Helvetica, sans-serif;

* {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    font-family: $font-default;
    margin: 0;
    background-color: #EEFFAB;
}

h1 {
    color: $color-font;
    text-align: center;
    width: 100%;
}

#imagens {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;
        
        img {
            height: 200px;
            width: auto;
            margin: 5px;
            object-fit: fill;
            object-position: bottom;
            border: 1px solid #333;

            &:hover {
                opacity: 75%;
                border-color: #33f;
            }
        }

    }

}

main {

    max-width: auto;
    display: block;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: center;
}

span {
    font-size: x-large
}

img {
    box-shadow: 0 1 px 2px #0003;
    width: auto;
}

.swiper {
    height: auto;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) {
    .swiper {
        height: 270px;
    }
}

header {
    background-color: $color-bg-default;
    width: 100vw;
    position: relative;
    height: 50vh;
    overflow: hidden;

    h1 {
        margin-top: 4rem;
        position: relative;
        z-index: 9;
    }
    
}

.waves {
    bottom: 0;
    position: flex;
    left: 0;
    right: 0;
    width: 110%;

    .wave-01 {
        animation: wave1 0.4s ease-in-out infinite alternate;
        
    }

    .wave-02 {
        animation: wave2 0.4s ease-in-out infinite alternate;
    }

   
}

@keyframes wave1 {
    from {
        transform: translatey(100px);
    }
}

@keyframes wave2 {
    from {
        transform: translatex(100px);
    }
}



@keyframes dash1 {
    from {
       stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@import 'player';